[package]
name = "rustlens"
version = "0.1.0"
edition = "2021"
license = "MIT"

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }

rustlens-tui = { path = "../../crates/rustlens-tui" }
